.dresscode-container {
  position: relative;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-family: var(--primary-font-family);
    margin-bottom: 30px;
    font-size: 2.5rem;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;

  &:hover {
    color: red;
  }
}

.dresscode-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  .dresscode-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    h2, p, li {
      font-family: var(--primary-font-family);
      text-align: justify;
    }

    h2 {
      margin-top: 10px;
      font-size: 1.8rem;
    }

    p {
      font-size: 1.1rem;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        font-size: 1rem;
        margin-bottom: 5px;
      }
    }

    svg {
      margin-bottom: 15px;
    }
  }
}
