.guest-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;

  div {
    margin-bottom: 5px;

    label {
      display: block;
      font-size: 1rem;
      margin-bottom: 5px;
    }

    input {
      width: 80%;
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .error {
      color: var(--error-color);
      font-size: 0.8rem;
      margin-top: 5px;
    }
  }

  button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1rem;
    border: none;
    margin-top: 10px;

    &:hover {
      background-color: var(--hover-color);
    }
  }
}
