.invite-container {
  height: 100vh;
  background-image: url('src/assets/party.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .invite-content {
    
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      color: white;;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 30px;
      color: white;
    }

    .details {
      margin-bottom: 20px;

      .detail-item {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        margin-bottom: 10px;
        color: white;

        svg {
          margin-right: 8px;
          color: white;
        }
      }
    }

    .guest-link {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      font-size: 1rem;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}