.average-rating {
  text-align: center;
  font-family: var(--font-family);
  font-size: 1.5rem;
  position: fixed;
  bottom: 80px;
  background-color: var(--kreminė);
  padding: 1rem;

  .reviews-link {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: #ffc107;
    }
  }

  .stars {
    display: flex;
    justify-content: center;
  }

  .filled {
    color: #ffc107;
    -webkit-text-stroke: 3px solid black; /* Pridedamas kontūras */
  }

  .empty {
    color: gray;
    -webkit-text-stroke: 3px solid black; /* Pridedamas kontūras */
  }
}
